html, body, main, header, footer {
    margin: 0;
    padding: 0;
}
header {
    z-index: 10;
}

h3, svg{
    display: inline;
}
li {
    text-align: left;
}

.flash-message {
    position: fixed; /* Фіксоване розташування над усім */
    top: 20px; /* Відступ зверху */
    left: 50%; /* Центрування по горизонталі */
    transform: translateX(-50%); /* Вирівнювання по центру */
    z-index: 1100; /* Більший за z-index інших елементів */
    background-color: #721c24; /* Червоний фон для помилки (можна змінити) */
    color: white;
    padding: 10px 20px;
    border: 1px solid #721c24;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.flash-message.success {
    background-color: #155724; /* Зелений фон */
    color: white;
    border-color: #155724;
}
.flash-message.error {
    background-color: #721c24; /* Червоний фон */
    color: white;
    border-color: #721c24;
}
.flash-message.info {
    background-color: #0c5460; /* Синій фон */
    color: white;
    border-color: #0c5460;
}

.btn_list:hover {
    text-decoration: none;
}
.batonai {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #3B0303;
    border-radius: 5px;
}

.batonai:hover {
    background-color: #66121F;
}

.drop3 {
    display: none; /* Ховаємо меню за замовчуванням */
    position: absolute;
    background-color: #3B0303;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    width: 150px;
    z-index: 10;
}

.baton3 a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.baton3 a:hover {
    background-color: #66121F;
    border-radius: 4px;
}

.batonai:hover + .drop3 {
    display: block; /* Показуємо меню при наведенні */
}

.container_1 {
    position: fixed; /* Закріплює панель зліва */
    left: 0;
    width: 250px; /* Ширина бокової панелі */
    height: 100%; /* Займає всю висоту вікна */
    padding: 15px; /* Внутрішній відступ для вмісту */
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1); /* Легкий тіньовий ефект */
}
.container_2 {
    padding: 20px; /* Відступи для основного контенту */
}
.container_3 {
    margin-top: 75px; /* Відступ зверху */
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px; /* Для інших сторін */
    padding: 20px;
    border-radius: 20px;
    border: solid;
    border-width: 4px;
    border-color: black;
    height: calc(55vh); /* Динамічна висота */
    display: flex;
    justify-content: space-between;
}
.container_4 {
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    height: calc(30h); /* Динамічна висота */
    display: flex;
    justify-content: space-between;
}
.container_4-2 {
    position: absolute; /* Встановлює елемент за межами нормального потоку */
    top: 30%; /* Центрування по вертикалі */
    left: 30%; /* Центрування по горизонталі */
    transform: translate (-30%, -30%); /* Зміщує елемент назад на половину його ширини та висоти */
}
.text_1 {
    padding-bottom: 10px;
    border-bottom: solid;
    gap: 15px;
    display: flex;
    justify-content: space-between;
}
.text_3 {
    padding-top: 10px !important;
    border-top: solid;
    display: flex;
    justify-content: space-between;   
}
.text_3-3 {
    text-align: right;
}
.text_4-1 {
    width: 100%;
    text-align: center;
    justify-content: center;
    border-right: solid;
}
.text_4-2 {
    width: 100%;
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-left: solid;
    border-width: 2px;
    border-color: black;
}
.text_p_sing {
    text-align: left;
}

.form-control {
    width: 75%;
}

.btn {
    margin-top: 10px;
}

.baton1, .baton3 {
    display: none;
}
@media (max-width:800px) {
    .baton2 {
        display: none;
    }
    .baton1 {
        display: block;
    }
}
.navbar_1 {
    height: 4rem;
    padding: 8px;
    display: flex; /* Встановлюємо flex-контейнер */
    gap: 15px;
    align-items: center; /* Вирівнюємо елементи по вертикалі */
    justify-content: space-between; /* Розділяємо заголовок і кнопки */
}

.navbar_2 {
    display: flex; /* Встановлюємо flex-контейнер */
    gap: 15px; /* Проміжки між кнопками */
    justify-content: flex-end; /* Вирівнюємо кнопки вправо */
}

.scrollable-container1 {
    height: 425px; /* Висота контейнера */
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto; /* Додає вертикальний скролбар */
}
.scrollable-container2 {
    height: 240px; /* Висота контейнера */
    margin-bottom: 20px;
    padding-right: 20px;
    overflow-y: auto; /* Додає вертикальний скролбар */
}
/* Фон області прокручування */
.scrollable-container1::-webkit-scrollbar, .scrollable-container2::-webkit-scrollbar {
    width: 8px; /* Ширина скролбара для браузерів з підтримкою WebKit */
}
