{% extends "shablon.html" %}
{% block title %}NZ AI - Sing in{% endblock %}

{% block content %}
    <div class = "container_3">
        <div class = "text_4-1">
            <h4>-Our Politic of site.</h4>
            <div class="scrollable-container2">
                <ul class="list-group">
                    <li class="list-group-item activa" aria-current="true">Terms and Conditions</li>
                    <li class="list-group-item">
                        <strong>Terms of Service:</strong> By using this site, you agree to the following terms and conditions. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
                    </li>
                    <li class="list-group-item">
                        <strong>Privacy Policy:</strong> We respect your privacy and are committed to protecting it. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
                    </li>
                    <li class="list-group-item">
                        <strong>Cookie Policy:</strong> This site uses cookies to enhance your experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
                    </li>
                </ul>
            </div>
            <div class="checkbox mb-3 d-flex justify-content-between">
                <label>
                    <input type="checkbox" id="acceptAll" value="remember-me"> Accept All
                </label>
            </div>
        </div>
        <div class = "text_4-2">
            <form method = "POST" action = "{{ url_for("User_sing") }}" onsubmit = "return validateForm()">
                {{ form.hidden_tag() }}
                <h4>-For using our site you must <b>sing in sistem</b>.</h4>
                <p class = "text_p_sing">Enter name:</p>
                {{ form.name (size = 40) }}<br>
                <p class = "text_p_sing">Enter email:</p>
                {{ form.email (size = 40) }}<br>
                <p class = "text_p_sing">Enter password:</p>
                {{ form.password(size=40) }}<br>
                {{ form.submit(class="btn btn-info") }}
            </form>
        </div>
    </div>
{% endblock %}