{% extends "shablon.html" %}
{% block title %}NZ AI - Home{% endblock %}

{% block content %}
    <div class="container_1">
        <div class = "text_1">
            <a>Start a new chat</a>
            <div>
                <a class = "btn_list" href = "#" style = "display: inline;!important">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 17 17">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                </a>
                <a class = "btn_list" href = "#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 17 17">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class = "text_2">
            <div class="scrollable-container1">
                <h2>Вітаю!</h2>
                <p>Це область, яку можна прокручувати. Ви можете додавати сюди будь-які елементи.</p>
                <div style="background-color:rgb(37, 37, 37); padding: 10px; margin: 10px 0;">
                    <p>Ось ще один блок із текстом.</p>
                </div>
                <p>Продовжуйте додавати вміст...</p>
                <p>Ще текст...</p>
                <p>Ще більше тексту...</p>
                <p>І ще більше, поки не з'явиться прокручування!</p>        <h2>Вітаю!</h2>
                <p>Це область, яку можна прокручувати. Ви можете додавати сюди будь-які елементи.</p>
                <div style="background-color: rgb(37, 37, 37); padding: 10px; margin: 10px 0;">
                    <p>Ось ще один блок із текстом.</p>
                </div>
                <p>Продовжуйте додавати вміст...</p>
                <p>Ще текст...</p>
                <p>Ще більше тексту...</p>
                <p>І ще більше, поки не з'явиться прокручування!</p>
            </div>
        </div>
        <div class = "text_3">
            <div class = "text_3-2">
                <h5>Time:</h5>
                <h5>Date:</h5>
            </div>
            <div class = "text_3-3">
                <h5><span id="time"></span></h5>
                <h5><span id="date"></span></h5>
            </div>
        </div>
    </div>
{% endblock %}
