{% extends "shablon.html" %}
{% block title %}NZ AI - Log in{% endblock %}

{% block content %}
    <div class = "container_4-2">
        <div class = "container_4">
            <form method = "POST" action = "{{ url_for("User_login") }}" onsubmit = "return validateForm()">
                {{ form.hidden_tag() }}
                <h4>-For using our site you must <b>log in to sistem</b>.</h4>
                <p class = "text_p_sing">Enter email:</p>
                {{ form.email (size = 40) }}<br>
                <p class = "text_p_sing">Enter password:</p>
                {{ form.password(size=40) }}<br>
                {{ form.submit(class="btn btn-info") }}
            </form>
        </div>
    </div>
{% endblock %}